:root {
  --text-color-text-primary: #f2f2f2;
  --link-color--link-primary\<deleted\|variable-ad940cb5-1815-151e-2cbc-4f27dec2b1e5\>: var(--base-color-brand--blue\<deleted\|variable-de000a4d-0fee-1f9e-af85-624658122d10\>);
  --border-color--border-primary\<deleted\|variable-d4c54ba4-ee41-67ce-58a5-5216ca039f83\>: var(--base-color-neutral--neutral-lightest\<deleted\|variable-eede0174-1898-a99e-0c79-395339ec1911\>);
  --text-color--text-secondary\<deleted\|variable-0a60224d-1a94-b160-ae24-af3c6d95a994\>: var(--base-color-neutral--neutral-darker\<deleted\|variable-dda6ad91-259a-0202-f70f-965feb273058\>);
  --background-color--background-error\<deleted\|variable-89aecd3e-2fe8-312c-65a2-e3e7c57d326c\>: var(--base-color-system--error-red\<deleted\|variable-ad7a5e8d-bd95-fba4-5110-cbccfa2520c4\>);
  --text-color--text-error\<deleted\|variable-4a51c5d2-820c-a0d9-b49e-0e5d273c964f\>: var(--base-color-system--error-red-dark\<deleted\|variable-f7a8b234-8033-a5d6-4d85-0326277c2bf8\>);
  --bg-color-accent-primary: #4ec5a1;
  --text-color-button-primary: #0d1117;
  --bg-color-accent-hover: #3ca287;
  --text-color-text-primary-hover: #9ca3af;
  --bg-color-background-primary: #1b1f20;
  --base-color-brand--blue\<deleted\|variable-de000a4d-0fee-1f9e-af85-624658122d10\>: #2d62ff;
  --base-color-neutral--neutral-lightest\<deleted\|variable-eede0174-1898-a99e-0c79-395339ec1911\>: #eee;
  --base-color-neutral--neutral-darker\<deleted\|variable-dda6ad91-259a-0202-f70f-965feb273058\>: #222;
  --base-color-system--error-red\<deleted\|variable-ad7a5e8d-bd95-fba4-5110-cbccfa2520c4\>: #f8e4e4;
  --base-color-system--error-red-dark\<deleted\|variable-f7a8b234-8033-a5d6-4d85-0326277c2bf8\>: #3b0b0b;
}

body {
  color: var(--text-color-text-primary);
  font-family: Space Grotesk, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  color: var(--text-color-text-primary);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  color: var(--text-color-text-primary);
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-primary\<deleted\|variable-ad940cb5-1815-151e-2cbc-4f27dec2b1e5\>);
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.margin-medium {
  margin: 2rem;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-global.padding-section-large {
  height: 100svh;
  padding-bottom: 2.5rem;
}

.form_input {
  border: 1px solid var(--border-color--border-primary\<deleted\|variable-d4c54ba4-ee41-67ce-58a5-5216ca039f83\>);
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.form_input::placeholder {
  color: var(--text-color--text-secondary\<deleted\|variable-0a60224d-1a94-b160-ae24-af3c6d95a994\>);
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.container-large {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form_message-error {
  background-color: var(--background-color--background-error\<deleted\|variable-89aecd3e-2fe8-312c-65a2-e3e7c57d326c\>);
  color: var(--text-color--text-error\<deleted\|variable-4a51c5d2-820c-a0d9-b49e-0e5d273c964f\>);
  margin-top: .75rem;
  padding: .75rem;
}

.button {
  background-color: var(--bg-color-accent-primary);
  color: var(--text-color-button-primary);
  text-align: center;
  border-radius: 100rem;
  padding: 1rem 2rem;
  font-weight: 600;
  transition: background-color .5s;
}

.button:hover {
  background-color: var(--bg-color-accent-hover);
}

.text-size-medium {
  font-size: 1rem;
}

.nav_component {
  background-color: #0000;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  inset: 0% 0% auto;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  display: flex;
}

.nav_menu_link {
  color: var(--text-color-text-primary);
  padding: 1rem;
  font-weight: 500;
}

.nav_menu_link:hover {
  color: var(--text-color-text-primary-hover);
}

.nav_button {
  padding: 1rem;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  max-width: 70rem;
  position: relative;
}

.hero_heading {
  text-align: right;
  font-size: 6rem;
  line-height: .8;
}

.section_hero {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  background-image: linear-gradient(#0000, #1b1f20 92%), url('../images/hero-image_1.avif');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  border-radius: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: end stretch;
  min-height: 80svh;
  padding: 2rem;
  display: grid;
}

.nav_fixed {
  position: absolute;
  inset: 0% 0% auto;
}

.body {
  background-color: var(--bg-color-background-primary);
}

.button-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.link-email {
  color: var(--bg-color-accent-primary);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.link-email:hover {
  color: var(--bg-color-accent-hover);
}

.text-span {
  color: var(--text-color-text-primary);
}

@media screen and (max-width: 991px) {
  .margin-medium {
    margin: 1.5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-global.padding-section-large {
    height: 80svh;
    padding-top: 3rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .button {
    padding: .5rem 1rem;
    font-size: .75rem;
  }

  .text-size-medium {
    font-size: .75rem;
  }

  .nav_button {
    color: #fff;
  }

  .hero_heading {
    font-size: 3rem;
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    padding: 1rem;
  }

  .button-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .link-email {
    font-size: .75rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-global.padding-section-large {
    height: 100svh;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .hero_content {
    flex-flow: column;
    max-width: 90%;
    display: flex;
  }

  .hero_grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .button-wrapper {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-global.padding-section-large {
    height: 80svh;
  }

  .text-size-medium {
    text-align: center;
  }

  .hero_content {
    justify-content: flex-start;
    align-items: center;
  }

  .hero_heading {
    font-size: 2rem;
  }

  .hero_grid {
    justify-content: center;
    align-items: center;
  }

  .button-wrapper {
    flex-flow: column;
  }
}

#w-node-f63cbc6a-01b0-c56e-95d4-065080c06eda-b3a6d3b5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


